<div class = "containerIndex">
    <h1>Skydiving Manifest Software</h1>
    <h7 style="font-style: italic">An application designed to help you join or create new loads and plan skydives with your crazy friends</h7>
    <hr>
    <h4>Ready to Fly?</h4>
    <form action="/login/register">
        <input id = "minibutton" type="submit" value = "Login/Register">
    </form>

    <img class = "indexImg" src="~/img/cover1.jpg" alt="picture of skydiver">

    <h2>Here's what you'll be able to do:</h2>
    <hr>
    <div id = "thing_to_do">
        <p>Based on availability of seat, join a load! If you don't like what you see, start a new load!</p>
        <hr>
        <img src="~/img/join.png" alt="screenshot of joining a load">
    </div>
    <div id = "thing_to_do" style="border-left:1px solid #E1E1E1;height:628px; width:1px;"></div>
    <div id = "thing_to_do">
        <p>Plan your flight with your friends and invite others along the way!</p>
        <hr>
        <img src="~/img/plan.png" alt="screenshot of planning a jump">
    </div>
    <hr>
    <p id = "footer">Application Built by Richard Rosenfeld</p>
</div>